*,/*todos los elementos*/
*::before, /*para asegurar que los elementos generados por CSS de forma dinámica también sigan estas reglas*/
*::after {
  box-sizing: border-box; /* sin esta regla, el ancho y alto de un elemento se calcula sin tener en cuenta el relleno y el borde*/
  margin: 0;  /* para garantizar que no haya márgenes o rellenos no deseados aplicados de forma predeterminada por el navegador*/
  padding: 0;
}

.main__touch i, 
button{
    cursor: pointer;
}

body, textarea{
    font-family: 'Source Sans Pro', sans-serif;
}

.main__portfolio__content, 
.portfolio__title, 
.main__touch p{
    text-align: center;
}

/*COLORES---------------------------------------------------------------------------------------------*/
* {
    color: map-get($colores, white-color);
}

.main__welcome p, 
.main__portfolio p, 
footer p{
    color: map-get($colores, light-gray);
}

.main__formulario h2{
    color: map-get($colores, black-color);
}

.portfolio__title, 
figcaption,
.main__formulario h6{
    color: map-get($colores, light-black);
}

img, 
.main__formulario__data{
    border: 1px solid map-get($colores, lightgray-color);
}

header, 
.main__title, 
.button__green{
    background-color: map-get($colores, green-header);
}

.first__nav {
    background-color: map-get($colores, light-green);
}

footer, 
.main__welcome{
    background-color: map-get($colores, dark-gray);
}

/*-------------------------------------------------------------------------------------------------*/
/*HEADER*/
header{
    min-height: 15em;
    @include flexbox(row, center, center);

    a{
        text-decoration: none;
        margin-right: 1em;
        padding: 1em;
        border-radius: 10px;
        padding-right: 2em;
        padding-left: 2em;
    }
}

/*TITLE*/
section{
    @include flexbox(column, center, center);
}

.main__title h2{
    font-size: 3em;
    margin-bottom: 0.3em;
}

.main__title h6{
    letter-spacing: 1px;
    color: map-get($colores, light-green-title);
    font-size: medium;
    margin-bottom: 10em;
}


/*WELCOME*/
.main__welcome{
    min-height: auto;
    padding: 3em;
}

.main__welcome h2, 
.main__portfolio h2, 
.main__formulario h2, 
.main__touch h2{
    font-size: 2.5em;
}

.main__welcome p, 
.main__portfolio p{
    font-size: larger;
    margin-bottom: 3em;
}

.main__welcome p:nth-child(3){
    min-width: 75%;
}

.button__green{
    border: 1px solid map-get($colores, green-header);
    letter-spacing: 3px;
    padding: 2em;
    padding-right: 3em;
    padding-left: 3em;
    border-radius: 10px;
    font-size: 0.8em;
    font-size: 0.8em;


    &:hover{
        background-color: map-get($colores, light-green-title);
    }
}

/*PORTFOLIO*/
.main__portfolio{
    max-height: auto;
    margin-bottom: 10em;
}

.main__portfolio__content{
    @include flexbox(row);
    margin-left: 3em;
    margin-right: 3em;

    p{
        font-size: medium;
        line-height: 2em;
        margin-bottom: 3em;
        margin-right: 1em;
    }

    article{
        margin-bottom: 3em;
    }

    img {
        max-width: 17em;
        max-height: 11em;
        margin-right: 1em;
        margin-bottom: 1em;
    }
    
    figcaption{
        font-weight: bolder;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

.portfolio__title {
    margin-top: 2em;
}

.portfolio__subtitle {
    letter-spacing: 2px;
}

/*FORMULARIO*/
.main__formulario{
    background-color: map-get($colores, light-white);
    padding-bottom: 3em;
    min-height: auto;

    h2{
        margin-top: 1em;
    }

    h6{
        margin-bottom: 2.5em;
        letter-spacing: 2px;
        font-size: large;
    }

    li{
        list-style-type: none;
    }

    button{
        margin-left: 12em;
        margin-top: 1em;
    }
}

.main__formulario__data{
    min-width: 40em;
    border-radius: 3px;
    padding: 1em;
    margin-bottom: 1em;
}




/*GET IN TOUCH*/
.main__touch{
    background-color: map-get($colores, dark-coral);
    min-height: 30em;

    p{
        color: map-get($colores, light-coral);
        letter-spacing: 2px;
        margin-bottom: 3em;
    }

    i{
        padding: 1em;
        background-color: map-get($colores, light-black);
        border-radius: 50%;
        padding: 0.4em; /*Para el círculo*/
        min-width: 1.8em; 
        min-height: 1.8em;
    }
}


/*FOOTER*/
footer{
    @include flexbox(row, center, center);
    min-height: 5em;

    span{
        font-weight: bolder;
    }
}


