/*MEDIA QUERY*/
@media screen and (max-width: 1284px) {
    header {
        @include flexbox(column); 
        padding-top: 3em;

        a {
            margin-right: 0; 
            margin-bottom: 0.5em;
        }
    }

    .main__title{
        padding-top: 3em;
    }

    .main__welcome h2{
        margin-bottom: 1em;
    }

    .portfolio__subtitle, .main__formulario h6{
        padding: 1em;
        font-size:small;
    }

    .main__portfolio__content {
        grid-template-columns: 1fr 1fr; 
        gap: 1.5em;

        article {
            width: 100%; 
        }
    }

    .main__formulario__data{
        min-width: 30em;
    }

    .button__green{
        margin-left: 8em;
        margin-right: 8em;
    }
}

@media screen and (max-width: 850px) {
    .main__portfolio__content {
        grid-template-columns: 1fr; 
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media screen and (max-width: 850px) {
    .main__portfolio__content {
        grid-template-columns: 1fr; 
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media screen and (max-width: 850px) {
    .main__formulario__data{
        min-width: 30em;
    }
}