@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";

*,/*todos los elementos*/
*::before, /*para asegurar que los elementos generados por CSS de forma dinámica también sigan estas reglas*/
*::after {
  box-sizing: border-box; /* sin esta regla, el ancho y alto de un elemento se calcula sin tener en cuenta el relleno y el borde*/
  margin: 0;  /* para garantizar que no haya márgenes o rellenos no deseados aplicados de forma predeterminada por el navegador*/
  padding: 0;
}

*{
    color: white;
}

.get-in-touch i, button{
    cursor: pointer;
}

body, textarea{
    font-family: 'Source Sans Pro', sans-serif;
}

header, .title{
    background-color: #8DCB89;
}

/*HEADER*/
header{
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-nav {
    background-color: #6FC06A;
}

header a {
    text-decoration: none;
    margin-right: 1em;
    padding: 1em;
    border-radius: 10px;
    padding-right: 2em;
    padding-left: 2em;
}

/*TITLE*/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h2{
    font-size: 3em;
    margin-bottom: 0.3em;
}

.title h6{
    letter-spacing: 1px;
    color: rgb(183, 227, 196);
    font-size: medium;
    margin-bottom: 10em;
}

/*WELCOME*/
.welcome{
    background-color: rgb(51,51,51);
    height: 40em;
}

.welcome h2, .portfolio h2, .formulario h2, .get-in-touch h2{
    font-size: 2.5em;
}

.welcome p, .portfolio p{
    font-size: larger;
    color: rgb(97,97,97);
    margin-bottom: 3em;
}

.welcome p:nth-child(3){
    width: 75%;
}

.button-green{
    border: 1px solid #8DCB89;
    background-color: #8DCB89;
    letter-spacing: 3px;
    padding: 1.5em;
    padding-right: 3em;
    padding-left: 3em;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bolder;
}

/*PORTFOLIO*/
.portfolio{
    height: 50em;
    margin-bottom: 15em;
}

.main-portfolio{
    display: grid;
    grid-template-areas: "figure"
                        "text-article"
                        "button-green";
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
}

.text-article{
    grid-area: text-article;
    height: 10em;
    width: 100%;
}

.title-portfolio {
    color: rgb(36,36,36);
    margin-top: 2em;
    text-align: center;
}

.subtitle-portfolio {
    letter-spacing: 2px;
}

figure{
    grid-area: figure;
}

img {
    width: 15em;
    height: 11em;
    margin-right: 1em;
    border: 1px solid lightgray;
    margin-bottom: 1em;
}

figcaption{
    font-weight: bolder;
    color: rgb(36,36,36);
    margin-top: 1em;
    margin-bottom: 1em;
}

.main-portfolio p{
    font-size: medium;
    line-height: 2em;
    margin-bottom: 3em;
    margin-right: 2em;
    margin-left: 2em;
}

.btn-article{
    grid-area: button-green;
    margin-top: 18vh;
}

/*FORMULARIO*/
.formulario{
    background-color: rgb(237,237,237);
    padding-bottom: 3em;
    height: 50em;
}

.formulario h2{
    color: black;
}

.formulario h6{
    margin-bottom: 2.5em;
    letter-spacing: 2px;
    color: rgb(36,36,36);
    font-size: large;
}

.formulario li{
    list-style-type: none;
}

.formu{
    width: 40em;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 1em;
    margin-bottom: 1em;
}

.formulario button {
    margin-left: 12em;
    margin-top: 1em;
}

/*GET IN TOUCH*/
.get-in-touch{
    background-color: rgb(231, 78, 89);
    height: 30em;
}

.get-in-touch p {
    color: rgb(240,133,130);
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 3em;
}

.get-in-touch i{
    padding: 1em;
    background-color: rgb(36,36,36);
    border-radius: 50%;
    padding: 0.4em; /*Para el círculo*/
    width: 1.8em; 
    height: 1.8em;
}

/*FOOTER*/
footer{
    background-color: rgb(51,51,51);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5em;
}

footer p{
    color: rgb(97,97,97);
}

footer span {
    font-weight: bolder;
}
